@import url("https://fonts.googleapis.com/css?family=Alata|Roboto+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
select {
  outline: none;
}

body {
  background: #f4f9fc;
  font-family: "Alata", sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.background {
  filter: blur(100px);
  position: fixed;
  top: 0;
  left: 0;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: #f67796;
  animation: rotate 60s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}

.background::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background: #7e66c7;
}

@keyframes rotate {
  30% {
    transform: translate(80vw, 50vh) rotate(1turn) scale(0.5);
  }
  60% {
    transform: translate(20vw, 80vh) rotate(1turn) scale(1.1);
  }
}

.cc-wrapper {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cc-form {
  position: relative;
  min-height: 55%;
  width: 55%;
  min-width: 250px;
  max-width: 450px;
  padding: 20px 40px;

  border-radius: 10px;
  box-shadow: 0 2px 10px -5px rgba(14, 14, 14, 0.4);
  background: rgba(255, 255, 255, 1);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/*******************************/
.cc-image {
  position: absolute;
  top: -20%;
  height: 40%;
  width: 80%;
}

.cc-image__side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px;
  border-radius: 10px;
  color: white;
  box-shadow: 0 15px 20px -10px rgba(246, 119, 150, 0.6);
  background: linear-gradient(to top, #f67796, #7e66c7);
  transition: all 500ms linear;
  backface-visibility: hidden;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.back {
  transform: perspective(1000px) rotateY(-180deg);
}

.front.active {
  transform: perspective(1000px) rotateY(180deg);
}

.front.active + .back {
  transform: perspective(1000px) rotateY(0);
}

.cc-rows {
  overflow: hidden;
  min-height: 35px;
  display: flex;
  justify-content: space-between;
}

.cc-row__label {
  cursor: pointer;
  padding: 5px;
}

.cc-company {
  margin-left: auto;
  padding: 0;
  height: 25px;
  display: block;
}

.cc-numbers {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cardnumber {
  text-align: center;
  pointer-events: none;
  width: 1ch;
  font-size: 2ch;
  font-family: "Roboto Mono", monospace;
}

.cardnumber:nth-of-type(4n) {
  margin-right: 10px;
}

.cardnumber:last-of-type {
  margin-right: 0;
}

.ccname,
.cc-expires {
  font-weight: bold;
  display: inline-block;
}

.ccname {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cc-magneticStripe {
  background: #191919;
}

.cccvc {
  text-align: right;
  width: 70%;
  color: #191919;
  background: #f4f9fc;
}

/*******************************/
.cc-groups {
  padding-top: 30%;
  height: 90%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.cc-group,
.cc-input,
.cc-submitButton {
  width: 100%;
}

.cc-group {
  position: relative;
  margin: 15px 0;
}

.cc-group--expire select {
  z-index: 1;
  cursor: pointer;
}

.cc-group--expire,
.cc-group--cvc {
  width: 25%;
}

.cc-label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 0.6em;
  font-weight: bold;
  padding: 0 5px;
  pointer-events: none;
  width: auto;
  background: white;
  color: rgba(126, 102, 199, 0.6);
  transition: all 200ms ease-in;
}

.cc-input {
  border: 1px solid rgba(126, 102, 199, 0.3);
  border-radius: 4px;
  padding: 0 10px;
  height: 45px;
  font-size: 1em;
  background: white;
  transition: all 300ms ease;
}

.cc-input:focus {
  border-color: #7e66c7;
}

.cc-label--animation {
  top: 0;
}

.cc-input--expire::placeholder {
  font-size: 0.8em;
  color: rgba(14, 14, 14, 0.4);
}

.cc-submitButton {
  cursor: pointer;
  height: 45px;
  margin: 20px 0;
  border: none;
  border-radius: 4px;
  background: #7e66c7;
  color: white;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  transition: all 300ms ease;
  box-shadow: 0 15px 30px -10px rgba(126, 102, 199, 0.6);
}

.cc-submitButton:hover {
  box-shadow: 0 5px 30px -10px rgba(126, 102, 199, 0.6);
}

.active {
  animation: show 800ms ease forwards;
}

@keyframes show {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (min-height: 410px) and (orientation: landscape) {
  .cc-form {
    width: 100%;
    padding: 10px;
    margin-top: 150px;
  }

  .cc-image {
    height: 220px;
    top: -110px;
  }
}

@media screen and (max-width: 480px) {
  .cc-form {
    width: 100%;
    padding: 10px;
    margin-top: 50px;
  }

  .cc-image {
    width: 90%;
    height: 200px;
    top: -100px;
  }

  .cc-image__side {
    padding: 15px;
  }

  .cc-groups {
    padding-top: 130px;
  }
}

@media screen and (max-width: 320px) {
  .cc-form {
    margin-top: 150px;
  }

  .ccname,
  .cc-expires {
    font-size: 0.9em;
  }
}
